
  <header class="header__container">
    <div class="header__logo">{{ site.title }}</div>

    <!-- Burger Button -->
    <div class="header__burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Navigation -->
    <nav class="header__nav" id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>