@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.button {
  @include flex-center;
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
